### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
*.pyc


account.py
update_profile_py/profile_data.txt

*.log
import_email_py/*.txt
import_email_py/config.py

split_email_table_php/config.php

slave_py/token.html
slave_py/*.png
slave_py/config.py
slave_py/screenshots/
